<div class="ui container" id="container-log-in">
  <img class="ui centered medium image" src="../../assets/images/musaroq_logo.png">
  <div class="ui basic segment">
    <div class="content">
      <form class="ui form" (ngSubmit)="activateCard()">
        <div class="ui left icon input fluid">
          <input type="number" [(ngModel)]="data.cardNumber" placeholder="Card Number" name="cardNumber">
          <i class="credit card outline icon"></i>
        </div>
        <button type="submit" class="ui fluid green button button-login">Activate Card</button>
      </form>
    </div>
  </div>
  <div class="ui basic segment">
    <button class="ui fluid button black button-login" routerLink="/home" routerLinkActive="active">Home</button>
  </div>
</div>
