<div class="ui inverted menu">
  <a class="item" routerLink="/activateCard" routerLinkActive="active">
    Activate Card
  </a>

  <a class=" item" routerLink="/addPoints" routerLinkActive="active">
    Add Points
  </a>
  <a class="item" routerLink="/spendPoints" routerLinkActive="active">
    Spend Points
  </a>
  <a class="item" routerLink="/viewPoint" routerLinkActive="active">
    View Points
  </a>

  <div class="right menu">
    <a class="ui item" (click)="logout()">
      Logout
    </a>
  </div>
</div>
