<div class="ui container" id="container-log-in">
  <img class="ui centered medium image" src="../../assets/images/musaroq_logo.png">
  <div class="ui basic segment">
    <div class="content">
      <button type="submit" routerLink="/activateCard" routerLinkActive="active" class="ui fluid green button button-login">Activate Card</button>
      <p> </p>
      <button type="submit" routerLink="/addPoints" routerLinkActive="active" class="ui fluid google plus button button-login">Add Points</button>
      <p> </p>
      <button type="submit" routerLink="/spendPoints" routerLinkActive="active" class="ui fluid orange button button-login">Spend Points</button>
      <p> </p>
      <button type="submit" routerLink="/viewPoint" routerLinkActive="active" class="ui fluid purple button button-login">View Points</button>
      <p> </p>
      <button (click)="logout()"  class="ui fluid grey button button-login">Log Out</button>
    </div>
  </div>
</div>
